#
# Copyright (C) 2023 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config ALUDEL_BATTERY_MONITOR
	bool "Battery monitoring library for the Golioth Aludel-Mini"
	select ADC
	select ADC_ASYNC
	select ADC_NRFX_SAADC
	help
	  Build and link common code for the battery monitor.
